/*for each image, set a height*/
.img-wrapper {
    width: 100%;
    height: auto;
}

/*for +/- buttons in the aggregate display*/
.adjust-duration-button {
    margin: 1vw;
}

.DropdownButton-filter-sort {
    background-color: #abd9ef;
    border-radius: 3px;
}

.Button-filter-sort {
    background-color: #abd9ef;
    border-radius: 3px;
}



.Button-cart-btn {
    background-color: #abd9ef;
    text-overline-color: pink;
}




/*for each dropdown*/
.dropdown {
    margin: 1vw 1vw 1vw 4vw;
}
/*for the short text explaining each filter dropdwon*/
.filter-header {
    margin-left: 3vw;
}

/*container for all filter and sort dropdowns*/
.dropdown-container {
    border: thin solid black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 1vw;
}

/*container for the aggregate display (with the schedule)*/
.schedule-container {
    border: thin solid black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2vw;
    min-width: 20vw;
    padding: 1vw;
}

/*header for aggregate display*/
.schedule-header {
    margin-bottom: 4vh;
}

/*for body of the app/main page*/
.main-page-body {
    padding: 5vw;
}

/*for the left portion of the dropdown container that only contains filters*/
.filter-box {
    border-right: solid thin black;
    padding-right: 3vw;
}

/*for the right portion of the dropdown container that only contains the sort dropdown*/
.sort-box {
    padding-left: 3vw;
    padding-right: 2vw;
}

/*for each activity*/
.activity-item {
    border-top: solid grey thin;
}

/*for the text displaying the total duration in the aggregate display*/
.total-duration {
    border-top: solid black thin;
    padding-top: 2vh;
}

.cart-div {

}