/*for each image, set a height*/
.img-wrapper {
    width: 100%;
    height: auto;
}


.DropdownButton-filter-sort {
    background-color: #abd9ef;
    border-radius: 3px;
}

.Button-filter-sort {
    background-color: #abd9ef;
    border-radius: 3px;
}


.Button-cart-btn {
    background-color: #abd9ef;
    text-overline-color: pink;
}


.dropdown {
    margin: 1vw 1vw 1vw 4vw;
}



